<div class="comment-container">
    <div class="comment container medium">

      {{!-- disqus --}}
      <div id="disqus_thread"></div>
      <script>
          var disqus_config = function () {
              this.page.url = "{{url absolute="true"}}";
              this.page.identifier = "ghost-{{comment_id}}"
          };
          (function() {
          var d = document, s = d.createElement('script');
          s.src = 'https://holistika-1.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
      </script>
     


      {{!-- cove
      <h2><span id="cove-count"></span> Comments</h2>

      {{^if @member}}
        <p><a href="#/portal/signup">Sign in or become a {{@site.title}} member</a> to join the conversation.<br>
      {{/if}}

      <div id="cove"></div>

      {{#if @member}}
        <p>Signed in as {{@member.email}} · <a href="javascript:" data-members-signout>Sign out</a></p>
      {{/if}}

      <script>
      const Cove = {
        contentId: "{{id}}",
        memberId: "{{@member.uuid}}",
        memberEmail: "{{@member.email}}",
        memberName: "{{@member.firstname}}"
      }
      </script>
      --}} 

    </div>
</div>