<header class="post-header{{#if big_title}} big-title{{/if}}{{#if single}} container medium{{/if}}">
    {{#unless single}}
        <h2 class="post-title">
            <a class="post-title-link" href="{{url}}">{{title}}</a>
        </h2>
    {{/unless}}
    {{^is "page"}}
        {{#unless hide_meta}}
            <div class="post-meta">
                <span class="post-meta-location">
                    {{authors.[0].location}},
                </span>
                <span class="post-meta-item post-meta-date">
                    <time datetime="{{date format="YYYY-MM-DD"}}">
                        {{#unless number_date}}
                            {{date published_at timeago="true"}}
                        {{else}}
                            {{date published_at format="DD.MM.YYYY"}}
                        {{/unless}}
                    </time>
                </span>
                <span class="post-meta-item post-meta-length">
                    {{reading_time seconds=(t "< 1 min read") minute=(t "1 min read") minutes=(t "% min read")}}
                </span>
                {{#if tags}}
                    <span class="post-meta-item post-meta-tags">
                        {{#foreach tags}}<a class="post-tag post-tag-{{slug}}" href="{{url}}"
                                title="{{name}}">{{name}}</a>{{/foreach}}
                    </span>
                {{/if}}
            </div>
        {{/unless}}
    {{/is}}
</header>