{{!< default}}

<div class="content-area">
    <main class="site-main">
        {{#post}}
            <article class="{{post_class}}{{#unless feature_image}} no-image{{/unless}} single-post">
                {{> post-header single=true number_date=true big_title=true}}
                {{> post-media single=true ratio="horizontal" with_caption=true}}
                <div class="post-content kg-canvas u-text-format">
                    {{content}}
                </div>
            </article>
        {{/post}}
    </main>
</div>