/* FONTS */

@font-face {
  font-family: Roslindale-TextRegular;
  src: url('../fonts/roslindale-textregular-webfont.woff2') format('woff2'),
       url('../fonts/roslindale-textregular-webfont.woff') format('woff'),
       url('../fonts/roslindale-textregular-webfont.ttf') format('truetype'),
       url('../fonts/roslindale-textregular-webfont.svg#roslindaletext_regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Roslindale-TextMedium;
  src: url('../fonts/roslindale-textmedium-webfont.woff2') format('woff2'),
       url('../fonts/roslindale-textmedium-webfont.woff') format('woff'),
       url('../fonts/roslindale-textmedium-webfont.ttf') format('truetype'),
       url('../fonts/roslindale-textmedium-webfont.svg#roslindaletext_medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Roslindale-TextBold;
  src: url('../fonts/roslindale-textbold-webfont.woff2') format('woff2'),
       url('../fonts/roslindale-textbold-webfont.woff') format('woff'),
       url('../fonts/roslindale-textbold-webfont.ttf') format('truetype'),
       url('../fonts/roslindale-textbold-webfont.svg#roslindaletext_bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Roslindale-DeckNarrowMedium;
  src: url('../fonts/roslindale-decknarrowmedium-webfont.woff2') format('woff2'),
       url('../fonts/roslindale-decknarrowmedium-webfont.woff') format('woff'),
       url('../fonts/roslindale-decknarrowmedium-webfont.ttf') format('truetype'),
       url('../fonts/roslindale-decknarrowmedium-webfont.svg#roslindaledeck_narrow_medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Roslindale-DeckNarrowBold;
  src: url('../fonts/roslindale-decknarrowbold-webfont.woff2') format('woff2'),
       url('../fonts/roslindale-decknarrowbold-webfont.woff') format('woff'),
       url('../fonts/roslindale-decknarrowbold-webfont.ttf') format('truetype'),
       url('../fonts/roslindale-decknarrowbold-webfont.svg#roslindaledeck_narrow_bold') format('svg');
  font-weight: normal;
  font-style: normal;
}



/* COMMON */

body {
  font-family: Roslindale-TextRegular, sans-serif;
}

.dark-mode body {
  /*background-image: url("../images/BG.jpg");*/
  /*backdrop-filter: brightness(0.5);*/
  /*background-color: #394866;*/
}



/* NAVBAR & FOOTER */

.logo-text {
  font-family: Roslindale-DeckNarrowBold;
}

/*.post-feed {
    margin: 30px;
    padding: 70px 20px 80px;
    background-color: rgb(255 255 255 / 70%);
    border-radius: 10px;
}*/

.navbar {
  justify-content: space-between;
}

.site-content {
  padding-top: 30px;
}

.site-footer {
  justify-content: space-around;
  flex-direction: column;
  padding-top: 45px;
  padding-bottom: 15px;
}

.site-footer .logo-text {
  margin-top: 25px;
}



/* POST */

blockquote {
  color: var(--primary-text-color);
  font-weight: inherit;
  font-size: inherit;
  border-left: 2px solid var(--primary-text-color);
  padding-left: 30px;
}

.post-title {
  font-family: Roslindale-TextBold;
}

.post-media .post-title {
  color: var(--white-color);
  font-size: 26px;
  letter-spacing: 0;
  position: absolute;
  bottom: 30px;
  left: 60px;
  right: 60px;
  text-shadow:
    2px 1px 0 var(--primary-text-color),
    1px 2px 0 var(--primary-text-color),
    1px 1px 0 var(--primary-text-color);
}

.post-title-link {
  color: var(--white-color);
}

.post-content {
  text-align: justify;
}

.post-content .post-datetime {
  text-align: right;
}

.post-content .post-media.large {
  margin-bottom: 60px;
}

.post-template .post-header .post-meta-location,
.post-template .post-header .post-meta-date,
.post-template .post-header .post-meta-length::before {
  display: none;
}



/* PRINT */

@media print {
  @page {
    size:  auto;
    margin: 0;
    padding: 1.6cm;
  }

  body {
    margin: 1.6cm;
  }

  header.site-header ,
  footer.site-footer,
  .post-template .dimmer,
  .post-template .off-canvas,
  .post-template #ghost-portal-root,
  .post-template article .share,
  .post-template article .author-name:after,
  .post-template .navigation,
  .post-template .related-posts,
  .post-template .comment-container {
    display: none;
  }

  .post-template,
  .post-template .post-meta,
  .post-template figcaption {
    color: var(--black-color);
  }

  .post-template .post-content {
    display: block;
  }
}
